<div class="row search">
  <!-- <div class="one column"><a class="thumb" href="/search/Druid"><img class="thumb" src="https://hydra-media.cursecdn.com/hearthstone.gamepedia.com/thumb/f/fa/Malfurion_Stormrage%28621%29.png/250px-Malfurion_Stormrage%28621%29.png?version=8c3aebe4f7d7e3c2999898c68d53c94d" alt="Druid" />Druid</a></div>
  <div class="one column"><a class="thumb" href="/search/Hunter"><img class="thumb" src="https://hydra-media.cursecdn.com/hearthstone.gamepedia.com/thumb/a/a0/Rexxar%28484%29.png/250px-Rexxar%28484%29.png?version=467229f863083b172161e0333a42ad10" alt="Hunter" />Hunter</a></div>
  <div class="one column"><a class="thumb" href="/search/Mage"><img class="thumb" src="https://hydra-media.cursecdn.com/hearthstone.gamepedia.com/thumb/3/3c/Jaina_Proudmoore%28320%29.png/250px-Jaina_Proudmoore%28320%29.png?version=dadb94427682aaea9210ba1a05f04949" alt="Mage" />Mage</a></div>
  <div class="one column"><a class="thumb" href="/search/Paladin"><img class="thumb" src="https://hydra-media.cursecdn.com/hearthstone.gamepedia.com/thumb/4/4d/Uther_Lightbringer%28257%29.png/250px-Uther_Lightbringer%28257%29.png?version=c1c5f69896d6f364b8e8dc09330c5054" alt="Paladin" />Paladin</a></div>
  <div class="one column"><a class="thumb" href="/search/Priest"><img class="thumb" src="https://hydra-media.cursecdn.com/hearthstone.gamepedia.com/thumb/8/80/Anduin_Wrynn%28110%29.png/250px-Anduin_Wrynn%28110%29.png?version=5d5982c9226812b987cb302257d36767" alt="Priest" />Priest</a></div>
  <div class="one column"><a class="thumb" href="/search/Rogue"><img class="thumb" src="https://hydra-media.cursecdn.com/hearthstone.gamepedia.com/thumb/a/a4/Valeera_Sanguinar%282%29.png/250px-Valeera_Sanguinar%282%29.png?version=8c6ee9fa93779ba6ae1fe74c3717e2537" alt="Rogue" />Rogue</a></div>
  <div class="one column"><a class="thumb" href="/search/Shaman"><img class="thumb" src="https://hydra-media.cursecdn.com/hearthstone.gamepedia.com/thumb/4/4b/Thrall%28319%29.png/250px-Thrall%28319%29.png?version=87995eda213d9abedcc5cdc327a327ad" alt="Shaman" />Shaman</a></div>
  <div class="one column"><a class="thumb" href="/search/Warlock"><img class="thumb" src="https://hydra-media.cursecdn.com/hearthstone.gamepedia.com/thumb/0/0a/Gul%27dan%28618%29.png/250px-Gul%27dan%28618%29.png?version=35ae56403de4957954adf9dcde911a07" alt="Warlock" />Warlock</a></div>
  <div class="one column"><a class="thumb" href="/search/Warrior"><img class="thumb" src="https://hydra-media.cursecdn.com/hearthstone.gamepedia.com/thumb/c/c5/Garrosh_Hellscream%28635%29.png/250px-Garrosh_Hellscream%28635%29.png?version=f41421bcdc8ffeb73d227f6942508b9d" alt="Warrior" />Warrior</a></div> -->
<!--  ^ full picture thumbnails ^  -->

  <div class="one column"><a class="thumb" href="/search/Druid"><img class="thumb" src="https://hydra-media.cursecdn.com/hearthstone.gamepedia.com/1/11/Malfurion_64.png?version=6567ba17879d47d192fd9fe3269fe37f" alt="Druid" />Druid</a></div>
  <div class="one column"><a class="thumb" href="/search/Hunter"><img class="thumb" src="https://hydra-media.cursecdn.com/hearthstone.gamepedia.com/e/ef/Rexxar_64.png?version=4f056ba7692b7e8c19f9faac2de79295" alt="Hunter" />Hunter</a></div>
  <div class="one column"><a class="thumb" href="/search/Mage"><img class="thumb" src="https://hydra-media.cursecdn.com/hearthstone.gamepedia.com/9/98/Jaina_64.png?version=253a277e8295e1664a7c7e02dba40a67" alt="Mage" />Mage</a></div>
  <div class="one column"><a class="thumb" href="/search/Paladin"><img class="thumb" src="https://hydra-media.cursecdn.com/hearthstone.gamepedia.com/9/9e/Uther_64.png?version=8c7ffcaf0f038535e511947622680ba7" alt="Paladin" />Paladin</a></div>
  <div class="one column"><a class="thumb" href="/search/Priest"><img class="thumb" src="https://hydra-media.cursecdn.com/hearthstone.gamepedia.com/4/41/Anduin_64.png?version=1c8cd6295abb994604a00109fe2398f9" alt="Priest" />Priest</a></div>
  <div class="one column"><a class="thumb" href="/search/Rogue"><img class="thumb" src="https://hydra-media.cursecdn.com/hearthstone.gamepedia.com/5/52/Valeera_64.png?version=0a44fbef602f00617fe6de41c1002bee" alt="Rogue" />Rogue</a></div>
  <div class="one column"><a class="thumb" href="/search/Shaman"><img class="thumb" src="https://hydra-media.cursecdn.com/hearthstone.gamepedia.com/7/75/Thrall_64.png?version=23bcef56dc92317c7118203f6c6426f9" alt="Shaman" />Shaman</a></div>
  <div class="one column"><a class="thumb" href="/search/Warlock"><img class="thumb" src="https://hydra-media.cursecdn.com/hearthstone.gamepedia.com/3/3d/Guldan_64.png?version=d5b5aaeb41587ffc8842c3869d0745af" alt="Warlock" />Warlock</a></div>
  <div class="one column"><a class="thumb" href="/search/Warrior"><img class="thumb" src="https://hydra-media.cursecdn.com/hearthstone.gamepedia.com/8/8e/Garrosh_64.png?version=852a66c6ddd915f435f9ba19d9998e5f" alt="Warrior" />Warrior</a></div>
  <div class="one column"><a class="thumb" href="/search/Neutral"><img class="thumb" src="https://hydra-media.cursecdn.com/hearthstone.gamepedia.com/a/a9/Homepage_Minions_64.png?version=499e733874385bb8dbcd688e4be80475" alt ="Neutral"/>Neutral</a></div>

  </div>
</div>

<div class="row">
  <%if @none %>
    <% @cards.each do |card| %>
    <%=card[1][0]["name"]%>
    <%end%>
  <%elsif @cards %>
    <% @cards.each do |card| %>
      <% next if !card["img"] || !card["cost"] || card["type"]==="Hero Power"%>
      <div class="one-third column">
        <a href="/cards/<%=card["name"]%>"><img src="<%=card["img"]%>" alt="<%=card["name"]%>" title="<%=card["name"]%>" class="thumb"/></a>
      </div>
      <%end%>
    <%end%>
</div>
