
<%=@card[0]%>
<img src="<%=@card[0]["img"]%>" alt="<%=@card[0]["name"]%>" />
<p><%=@card[0]["name"]%></p>
<p>Class: <%=@card[0]["playerClass"]%></p>

<h3><a href="/search/<%=@card[0]["playerClass"]%>">Back to Search</a></h3>
