<h2>New Deck for <%=@user["username"]%></h2>
<br>
<%= form_for @deck do |f| %>
<%= f.hidden_field :user_id, :value => @user["id"] %>
<div>
    <%= f.label :name %>
    <%= f.text_field :name%>
</div>
<div>
    <%= f.label :character_class %>
    <%= f.select :character_class, [['Druid', 'Druid'],['Hunter', 'Hunter'],['Mage', 'Mage'],['Paladin', 'Mage'],['Priest', 'Priest'],['Rogue', 'Priest'],['Shaman', 'Shaman'],['Warlock', 'Warlock'],['Warrior', 'Warrior']] %>
</div>

<%= f.submit "Submit" %>
<% end %>
