<!DOCTYPE html>
<html>
  <head>
    <title>Project4HearthstoneRor</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container">
    <nav>
      <div class="row " id="navBar">
        <ul class="home-ul">
          <li class="home-li three columns" ><img src="../Img/hearthstone_logo.png" alt="" id="logo"/></li>
          <a href="/"><li class="home-li two columns">Home</li></a>
          <% if session[:user] %>
            <a href="/sign_out"><li class="home-li three columns"><%= session[:user]["username"] %>: sign out</li></a>
            <%= link_to "Decks", decks_path , class: "home-li two columns"%>
          <% else %>
            <a href="/sign_up"><li class="home-li two columns">Sign up</li></a>
            <a href="/sign_in"><li class="home-li two columns">Sign in</li></a>

          <% end %>
          <a href="/search"><li class="home-li two columns">Search</li></a>
        </ul>
      </div>
    </nav>
      <br>
      <em class="error"><%= flash[:notice] %></em>
    <div id="body">
      <%= yield %>
    </div>
  </body>
</html>
